:root {
        overflow-wrap: anywhere;
        color-scheme: light dark;
}

* {
        box-sizing: border-box;
}

body {
        font-size: 1.3em;
        font-family: Times New Roman;
        max-width: 501px;
}

header {
        text-align: center;
}

main > p {
        margin-top: 0;
        margin-bottom: 0;
}

img {
        width: 100%;
}

hr {
        border: none;
        border-top: 1px solid black;
}

div#footnotes hr {
        width:50%;
        margin-left: 0;
}

li > p {
        margin: 0;
}

a {
        text-decoration-line:  none;
}

a:hover {
        text-decoration-line:  underline;
}

pre {
        overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
pre::-webkit-scrollbar {
        display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
pre {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}

pre, code {
        background-color: #d4d4d4;
}

blockquote {
        border-left: 5px solid grey;
        padding: 5px 20px;
}

@media (prefers-color-scheme: light) {
        body {
                color: black;
                background-color: white;
        }
}

@media (prefers-color-scheme: dark) {
        body {
                color: white;
                background-color: black;
        }

        hr {
                border-top: 1px solid white;
        }

        code, pre {
                background-color: #292928;
        }
}

@media screen and (min-width: 500px) {
        body {
                max-width: 501px;
                margin-left: auto;
                margin-right: auto;
        }
}

@media screen and (max-width: 500px) {
        blockquote {
                margin-right: 0;
                margin-left: 20px;
                padding-right: 5px;
                padding-left: 10px;

        }
                ul, ol {
                padding-left: 20px;
        }
}
