<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ range resources.Match "styles.css" }}
        <link   rel="stylesheet"
                type="text/css"
                href=".{{ .RelPermalink }}">
        {{ end }}
        <title>rustamjafar</title>
        </head>
        <body>
                {{ block "header" . }}
                <header>
                        in the name of god, the most beneficent,
                        the most merciful
                <hr/>
                </header>
                {{ end }}
                {{ block "body" .}}
                <main>
                {{ .Content }}
                </main>
                {{ end }}
                {{ block "footer" . }}
                <footer>
                <hr />
                        <a href="mailto:rst.jafar@gmail.com"
                                target="_blank">
                                rst.jafar@gmail.com
                        </a>
                </footer>
                {{ end }}
        </body>
</html>
