{{ define "header"}}
<header>
<p>
بسم الله الرحمن الرحيم
</p>
<p>IN THE NAME OF GOD, THE MOST BENEFICENT, THE MOST MERCIFUL</p>
<p>
ВО ИМЯ БОГА, МИЛОСТИВОГО, МИЛУЮЩЕГО
</p>
<hr/>
</header>
{{ end }}
{{ define "body" }}
{{ .Content }}
{{ if .IsTranslated }}
{{ range .Translations }}
  <p>
  <a href="{{ .RelPermalink }}">RUSTAMJAFAR.COM{{ .RelPermalink }}{{ end }}
  </a>
  <p>
  {{ end }}
{{ end }}
{{ define "footer" }}
<hr/>
<p><a href="mailto:rst.jafar@gmail.com" target="_blank">
RST.JAFAR@GMAIL.COM</a>
{{ end }}
