{{ define "header"}}
<header>
<p>
بسم الله الرحمن الرحيم
</p>
<p>IN THE NAME OF GOD, THE MOST BENEFICENT, THE MOST MERCIFUL</p>
<p>
ВО ИМЯ БОГА, МИЛОСТИВОГО, МИЛУЮЩЕГО
</p>
<hr/>
</header>
{{ end }}
{{ define "body" }}
<div>
<p dir="rtl" >
أستخدم توقيت غرينتش.
</p>
<p>
ALL DATES AND TIMES ARE GIVEN IN ETC/UTC.
</p>
<p>
УКАЗАНО СРЕДНЕЕ ВРЕМЯ ПО ГРИНВИЧУ
</p>
</div>
{{ if .IsTranslated }}
{{ range sort .Translations "RelPermalink" "asc"}}
<p>
<a href="{{ .RelPermalink }}">RUSTAMJAFAR.COM{{ .RelPermalink | upper }}</a>
<p>
{{ end }}
{{ end }}
{{ end }}
{{ define "footer" }}
<hr/>
<p><a href="mailto:rst.jafar@gmail.com" target="_blank">
RST.JAFAR@GMAIL.COM</a>
{{ end }}
