{{ define "header"}}
<header>
<p>
بسم الله الرحمن الرحيم
</p>
<p>in the name of god, the most beneficent, the most merciful</p>
<p>
во имя бога, милостивого, милующего
</p>
<hr/>
</header>
{{ end }}
{{ define "body" }}
{{ .Content }}
{{ if .IsTranslated }}
{{ range .Translations }}
  <p>
  <a href="{{ .RelPermalink }}">rustamjafar.com{{ .RelPermalink }}{{ end }}
  </a>
  <p>
  {{ end }}
{{ end }}
{{ define "footer" }}
<hr/>
<p><a href="mailto:rst.jafar@gmail.com" target="_blank">
rst.jafar@gmail.com</a>
{{ end }}
